---
---
@import "minima";

/* --- 自定义缩略图样式 --- */
.card-img-top {
    width: 20px;
    height: 20px;
    object-fit: cover;
    display: block;
    margin: 30 auto 30px auto;
}

/* 如果有其他自定义样式，请添加到这里 */